body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
    background: linear-gradient(445deg,white 20%,black );
}
.counter{
    height: 534px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: transparent;
    border: 0;
    outline: none;
    color: white;
    -webkit-text-stroke: 3px black;
}
.buttons{
    display: flex;
    justify-content: center;
}
button{    
    width: 20vw;
    height: 10vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
    font-size: 35px;
    border: 0;
    border-radius: 20px;
    transition: 0.15s all ease;
    margin-left: 10px;
    margin-right: 10px;
}
p{
    color: white;
    -webkit-text-stroke: 1.5px black;
}
button:active{
    transition: 0.15s all ease;
    background: transparent;
    width: 19vw;
    margin-left: 10px;
    margin-right: 10px;
}
